<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../layout/head.html')%>

</head>

<body>
    <header>
        <%- include ('../layout/header.html')%>
    </header>

    <main>
        <div>
            <%result.forEach(element => { %>
            <section>
                <p>name: <%=element.name%></p>
                <p>Patronus: <%element.patronus%></p>
                <p>Alive: <%=element.alive%></p>
                
                <form action="/character/<%=element.id%>" method="GET">
                    <button type="submit">More Details</button>
                </form>
                </section>


                <% }); %>
        </div>
    </main>

    <footer>

    </footer>
</body>

</html>